body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 70%;
    padding: 3%;
}
.half-width img{
    width: 60%;
    }
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 5%;
    color: white;
    font-weight: 700;
    }
    .logo{
        background-image: url(logo.PNG);
        background-repeat: no-repeat;
    }
    .about-dream{
        background-image: url(logo2.jpg);
        background-repeat: no-repeat;
        background-position-x: right;
    }